body {
   background: url(../img/miam.jpg ) no-repeat center center fixed;
}

.prof-box {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color: rgb(132, 188, 196);
   border-radius: 5px;
   color: white;
   padding: 1.5rem;
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 21.875rem;
   height: 27rem;
}

.prof-pic {
   border-radius: 50%;
   border: 4px solid white;
   height: 200px;
   width: 200px;
   object-fit: cover;
}

h1,
p {
   font-weight: 100;
}

h1 {
   font-size: 1.8rem;
}

.line-break {
   width: 140px;
   margin: 0 auto;
   border-top: 1px solid white;
}